.first {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: red; /* Just to visualize the extent */
}

.second {
  width: 50%;
  height: 100%;
  background: blue;
  position: fixed;
}